<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="zapateriawsSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50935/service_zapateria.asmx"
                binding="basicHttpBinding" bindingConfiguration="zapateriawsSoap"
                contract="ReferenciaServicioZapateria.zapateriawsSoap" name="zapateriawsSoap" />
        </client>
    </system.serviceModel>
</configuration>